h1 {
    font-size: 100px;
    text-align: center;
}

img {
    border: 10px solid black;
}

#specificColor{
    color:blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#specificLink{
    color:red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.purpleColor{
    color: purple;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.redColor{
    color:red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.greenColor{
    color:green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}